// footer {
//   width: 93%;
//   margin: 40px auto 0;
//   position: relative;
//   overflow: hidden;
//   z-index: 1;
//   border-radius: 30px 30px 0 0;
//   -webkit-border-radius: 30px 30px 0 0;
//   -moz-border-radius: 30px 30px 0 0;
//   -ms-border-radius: 30px 30px 0 0;
//   -o-border-radius: 30px 30px 0 0;
//   @media (max-width: 991px) {
//     width: 96%;
//     border-radius: 0;
//     -webkit-border-radius: 0;
//     -moz-border-radius: 0;
//     -ms-border-radius: 0;
//     -o-border-radius: 0;
//     padding-bottom: 70px;
//   }

//   .header-footer {
//     position: relative;
//     margin-bottom: 15px;
//     font-family: "ar-medium";

//     p {
//       color: var(--gray-color);
//       font-size: 18px;
//       font-weight: 400;
//     }

//     &::before {
//       content: "";
//       position: absolute;
//       bottom: -8px;
//       right: 0;
//       width: 100px;
//       border: 1px dashed var(--primary-color);
//     }
//   }
//   span {
//     font-size: 14px;
//     margin-bottom: 10px;
//     display: inline-block;
//     color: #7a7a7a;
//   }
//   .right {
//     a.logo {
//       margin-bottom: 15px;
//       width: 80px;
//       margin-right: 45px;
//       height: 80px;
//       display: inline-block;
//       img {
//         width: 80px;
//         height: 80px;
//         @media (max-width: 991px) {
//           width: 100px;
//           height: 100px;
//         }
//       }
//     }

//     p {
//       color: #5d666f;
//       font-size: 16px;
//       font-weight: 400;
//     }
//     .icons-social li {
//       width: 40px;
//       height: 40px;
//       background-color: #fff;
//       border-radius: 50%;
//       -webkit-border-radius: 50%;
//       -moz-border-radius: 50%;
//       -ms-border-radius: 50%;
//       -o-border-radius: 50%;
//       box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.07);
//       transition: 0.3s;
//       -webkit-transition: 0.3s;
//       -moz-transition: 0.3s;
//       -ms-transition: 0.3s;
//       -o-transition: 0.3s;

//       &:not(:last-child) {
//         margin-left: 10px;
//       }

//       &:hover {
//         background-color: var(--primary-color);

//         i {
//           color: #fff;
//         }
//       }

//       i {
//         font-size: 16px;
//         color: var(--primary-color);
//       }
//     }
//   }

//   .center {
//     ul.contact-teacher li a {
//       color: var(--gray-color);
//       font-family: "ar-medium";

//       i {
//         font-size: 17px;
//         color: var(--gray-color);
//         margin-left: 8px;
//       }
//     }
//   }

//   .left {
//     font-family: "ar-medium";
//     span {
//       font-size: 14px;
//       margin-bottom: 10px;
//       display: inline-block;
//       color: #7a7a7a;
//       &:hover + .popup-contact {
//         visibility: visible;
//       }

//       a {
//         color: var(--primary-color);
//       }
//     }

//     .icons-info li {
//       margin-bottom: 15px;

//       .icon {
//         width: 35px;
//         height: 35px;
//         background-color: #fff;
//         box-shadow: 0px 9px 18px rgba(24, 16, 16, 0.05);
//         margin-left: 6px;

//         i {
//           color: var(--main-color);
//           font-size: 17px;
//         }
//       }

//       a {
//         color: var(--gray-color);
//       }
//     }
//     .popup-contact {
//       position: absolute;
//       transition: 0.3s;
//       top: 100%;
//       background: #fff;
//       box-shadow: 0 9px 26px rgba(58, 87, 135, 0.15);
//       max-width: 280px;
//       padding: 9px 13px;
//       visibility: hidden;
//       border: 1px solid #eee;
//       .close-icon {
//         position: absolute;
//         top: 0;
//         left: 10px;
//       }
//       ul {
//         li {
//           i {
//             font-size: 12px;
//             color: var(--primary-color);
//           }
//           a {
//             font-size: 13px;
//             color: var(--text-300);
//           }
//         }
//       }
//     }
//   }
// }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.hover-swiper {
  width: 100%;
  padding: 20px 0;

  .swiper-wrapper {
    display: flex;
    transition: 0.3s ease;
  }

  .hover-slide {
    background-color: var(--color-secondary); // الأزرق
  }

  .hover-slide:nth-child(odd) {
    background-color: var(--color-primary); // الأزرق
  }
  .hover-slide {
    flex-grow: 1;
    width: 120px;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    transition: width 0.3s ease;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease;
    }
  }

  // لما أعمل Hover على السلايدر كله
  &:hover {
    .hover-slide {
      width: 70px;
      img {
        object-fit: cover;
      }
    }
  }

  .hover-slide:hover {
    width: 400px; // السلايد اللي عليها hover تكبر
    img {
      object-fit: contain;
      //   transform: scale(1.1);
    }
  }
}

.hover-slide:hover .slide-img {
  transform: translateX(130px);
}

/* إظهار الكلام */
.hover-slide:hover .slide-text {
  opacity: 1;
  transform: translateX(-40px);
}

.rpv-toolbar__right {
  .rpv-core__display--hidden.rpv-core__display--block-medium:nth-child(4) {
    display: none !important;
  }
}

.rpv-core__menu {
  .rpv-core__menu-item.rpv-core__menu-item--ltr {
    display: none !important;
  }
}
